# Environment variables (secrets)
.env
.env.prod
.env.dev
.env.*          # ignore any .env.dev, .env.local, etc.


# Allow prod template (no secrets)
!.env.prod.example

# React env files (keep them out of git)
url-shortener-react/.env*
!url-shortener-react/.env.example

# Maven
target/
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store


cookies.txt