spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
     ddl-auto: validate
    show-sql: false

logging:
  level:
    org.springframework.security: INFO

frontend:
  url: ${FRONTEND_URL}

jwt:
  secret: ${JWT_SECRET:VYqxdFGY2cnbGFRO5aKjJ2CqoOMuJBIVC9Hf7O7Il/E=}
  expiration: ${JWT_EXPIRATION:172800000}

management:
  endpoints:
    web:
      exposure:
        include: health

app:
  cookie:
    secure: true