spring:
  application:
    name: url-shortener

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/URL_Shortener}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:6521}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

server:
  port: ${PORT:8081}


management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [traceId=%X{traceId:-}] %logger{36} - %msg%n"