spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/URL_Shortener}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration


logging:
  level:
    org.flywaydb: INFO
    org.springframework.security: INFO


frontend:
  url: ${FRONTEND_URL:http://localhost:5173}

jwt:
  secret: ${JWT_SECRET:dev-only-change}
  expiration: ${JWT_EXPIRATION:172800000}

management:
  endpoints:
    web:
      exposure:
        include: health, info

app:
  cookie:
    secure: ${APP_COOKIE_SECURE:false}


