spring:
  application:
    name: url-shortener

  jpa:
    open-in-view: false

server:
  port: ${PORT:8081}


jwt:
  expiration: ${JWT_EXPIRATION:172800000}

management:
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [traceId=%X{traceId:-}] %logger{36} - %msg%n"